.card {
  width: 19.5rem;
  margin: 0.5rem;
}

// .row{
//   align-content: center;
// }
img{
  height: 200px;
}
// span {
//   padding: 5px;
// }
.card-content{
  // border: 1px solid black;
  background-color: rgb(231, 236, 240);
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
